<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div id="nav">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">HOME</a>
                </li>
                <li>
                    <a asp-controller="Education" asp-action="Index">EDUCATION</a>
                </li>
            </ul>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
