<nav class="fixed-top container">
    <div>
        <a class="nav-logo" asp-controller="Home" asp-action="Index">
            <img src="/images/esteve-logo.svg" height="40" alt="esteve_logo" />
        </a>
    </div>
    <ul>
        <li>
            <a class="link-hover" asp-controller="Education" asp-action="Index">EDUCATION</a>
        </li>
    </ul>
</nav>