@model Models.Education[]
@{
    ViewData["Title"] = "Education";
    var educationBanner = "images/banner_education-1920.webp";
}

<vc:banner image-url=@educationBanner></vc:banner>

<div class="container">
    <h1>Education</h1>
    <section class="center">
        @foreach (var education in @Model)
        {
            <vc:card education=@education></vc:card>
        }
    </section>
</div>

@section Scripts
{
    <script src="~/js/lazysizes.js" asp-append-version="true"></script>
}

