@model Models.Education[]
@{
    ViewData["Title"] = "Education";
    var educationBanner = "images/banner.svg";
}

<vc:banner image-url=@educationBanner></vc:banner>

<div class="container">
    <h2>Education</h2>
    <section class="center">
        @foreach (var education in @Model)
        {
            <vc:card education=@education></vc:card>
        }
    </section>
</div>

