@model string

    <section class="banner bar-margin" style="background-image: url(@Model)">
        <div class="banner-content">
            <h1>Estevegf</h1>
            <p>Hello from my web</p>
        </div>
    </section>

