/* Navbar styles
-------------------------------------------------- */
nav {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.nav-logo {
    display: inline-block;
    margin-right: 1em;
}

nav ul {
    display: flex;
    width: auto;
    margin-left: auto;
    list-style: none;
}

nav li {
    margin: 0 1em;
}

nav li a {
    color: black;
    text-decoration: none;
}

.link-hover:hover {
    color: gray;
}

/* Banner styles
-------------------------------------------------- */
.banner {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    left: 0;
    right: 0;
}

.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Card Home styles
-------------------------------------------------- */

.cardOne {
    display: inline-flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.cardOne .circular {
    border-radius: 50%;
    border: 2px solid green;
    margin: 1em 2em 1em 3em;
}

@media (max-width: 600px) {
    .cardOne .circular {
        margin: 1em 2em 1em 0;
    }
}

.cardOne ul {
    padding-left: 0;
}

/* Card Education styles
-------------------------------------------------- */

.cardTwo {
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin: 1em 0;
    background-color: gainsboro;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.cardTwo .card-left {
    display: flex;
}

.cardTwo .card-image {
    border-radius: 5px 0 0 5px;
}

@media (max-width: 500px) {
    .cardTwo {
        display: grid;
    }

    .cardTwo .card-image {
        border-radius: 5px 5px 0 0;
    }
}



/* Body styles
-------------------------------------------------- */
body {
    margin: 0;
}

.bar-margin {
    margin-top: 50px;
}

.container {
    padding: 0 1em;
}

@media (min-width: 600px) {
    .container {
        padding: 0 4em !important;
    }
}

@media (min-width: 800px) {
    .container {
        padding: 0 8em !important;
    }
}

@media (min-width: 1300px) {
    .container {
        padding: 0 14em !important;
    }
}

@media (min-width: 1200px) {
    .l-6 {
        width: 49.75% !important;
    }
}

@media (min-width: 500px) {
    .s-6 {
        width: 50% !important;
    }
}

.responsive {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
}
