@{
    ViewData["Title"] = "Home";
    var indexBanner = "images/banner.svg";
}

<vc:banner image-url=@indexBanner></vc:banner>

<div class="container">
    <section>
        <h2>Who am I?</h2>
        <p>
            I am Esteve Genovard Ferriol. I was born in Mallorca, where I spent my childhood. Nowadays, I am a
            computer engineer graduated in La Salle Campus Barcelona, Ramon Llull University, 2014-2018.
        </p>
    </section>
    <section>
        <h3>Experience</h3>
        <div>
            <div class="card l-6">
                <img class="circular" src="/images/experience-esteve.svg" height="120" alt="experience Funitec La Salle" />
                <div>
                    <h4>Intership - Funitec</h4>
                    <ul>
                        <li>Direct contact with suppliers of la Salle</li>
                        <li>Electronic university store administration</li>
                        <li>Stock managment</li>
                    </ul>
                </div>
            </div>

            <div class="card l-6">
                <img class="circular" src="/images/experience-esteve.svg" height="120" alt="experience Uniks" />
                <div>
                    <h4>Frontend Developer - Uniks</h4>
                    <ul>
                        <li>Website developer: www.uniks.com</li>
                        <li>CMS developer</li>
                        <li>Facebook application developer</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
